body {
  background-color: #5286C1;
  font-family:"ORF Universal",-apple-system,BlinkMacSystemFont,Arial,Roboto,sans-serif;
}
.grid-container {
  display: grid;
  grid-template-columns: 8.5% 57% 35%;
  grid-template-rows: 10% 50% 40%;
  margin-left: -8px;
  margin-right: -8px;
  margin-top: -8px;
}
.grid-item {
  padding: 0px;
  font-size: auto;
  text-align: left;
}
header {
  text-align: auto;
}
li {
  display: inline;
  text-align: left ;
  font-size: 16.4px;
  margin-inline: 10px; 
}
nav {
  background-color: #4371A3;
  color:#ABBFD2;
  line-height: 16px;
  padding-top: 6px;
  padding-bottom: 6px;
}
ul {
  text-align: auto;
  display: inline;
  margin-left: -35px;
}
a {
  text-decoration: none;
}
a:visited {
  color: white;
  text-decoration: none;
}
.header:hover {
  text-decoration: underline;
  color:#ABBFD2;
  cursor: pointer;
}
img {
  margin-bottom: -10px;
}
.dingens {
  color: white;
  font-size: 1.7em;
  font-weight: 400;
  margin-left: 90px;
  margin-top: 20px;
}
.wetter {
  margin-left: 155px;
  font-size: 1.1em;
  color: white;
  font-weight: 500;
}
.inline {
  display: inline-block;
}