body {
    background-color:grey;
    color:rgb(235, 235, 235);
    font-family:'Times New Roman', Times, serif;
}
    h1 {
        font-family: 'Times New Roman', Times, serif;
        font-size: 5em;
        text-align:center;
        top: 10%;
        border: 10px;
        background-color:grey;
        border-color: white;
        border: thick solid;
    }
    a {
        color: white;
        font-family: 'Times New Roman', Times, serif;
    }
    p {
        color: grey;
    }
    button {
        color: white;
        background-color: black;
        border:solid;
        font-size: 3em;
        transition: all 0.3s ease 0s;
        position: absolute;
    }
    button:hover {
        transform: translateY(-7px);
        color:black;
        background-color: white;
    }
    button#eins{
        bottom: 62%;
        text-align: left;
    }
    button#zwei {
        bottom: 50%;
        text-align: left;
    }
    a{
        transition: all 0.3s ease 0s;
    }
    a:hover{
        color:black;
    }
    img{
        width: 1000px;
        height: 1000px;
    }
    