body {
    margin: 2em;
    background-image: linear-gradient(to right, #0093E9, #80D0C7);
}
h1 {
    color: lightgray;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 1.5px;
    font-family: Arial, Helvetica, sans-serif;
}
ul {
    color: lightcyan;
    -webkit-text-stroke-color:black;
    -webkit-text-stroke-width: 1px;
    font-family: monospace;
    font-size: 2em;
}
li {
    margin-left: 3em;
}
.großeBilder {
    width: 640px;
    height: 360px;
}
.kleineBilder {
    width: 250px;
    height: 250px;
}
.Button {
    font-size: 2em;
    background: linear-gradient(to left, cyan, blue);
    border: solid;
    background-size: 200%;
    background-position: left;
    transition: 1s;
}

.Button:hover {
    background-position: right;
    transform: translateY(-7px);
    transform: translateX(7px);
}